*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*:not(input, button){
    color: aliceblue;
}
body{
    background-color: rgb(44, 44, 44);
}
main{
    border: 2px solid rgb(255, 153, 0);
    padding: 10px;
    margin: 40px;
}
main .texto{
    max-width: 300px;
    margin: auto;
    text-align: justify;
    padding: 30px;
}
.input-control{
    max-width: 20rem;
    margin: auto;
}
.input-control{
    text-align: center;
}
.input-control p{
    text-align: left;
}

.input-control input{
    margin: 0px auto;
    width: 100%;
}
input{
    outline: none;
    border: none;
    padding: 5px 20px 5px 10px;
    margin: 20px;
    border-radius: 10px;
}
.container{
    text-align: center;
}
mark{
    color: black;
}
button{
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    opacity: 70%;
}
p.explicacao{
    text-align: center;
    padding: 10px;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 145, 0);
}
header{
    padding: 20px;
    text-align: center;
}
header img{
    width: 200px;
}
footer p{
    text-align: center;
    padding: 2rem;
}